# Python bytecode
__pycache__/

# Virtual environment
.venv/
venv/
*.env

# Django migrations
backend/*/migrations/*
!backend/*/migrations/__init__.py

# IDE/editor directories
.idea/
.vscode/

# Logs
*.log

# MacOS system files
*.DS_Store