#defaultSettingsButton,
#applySettingsButton,
#settingsButton,
#startButton {
    width: 150px;
    height: 55px;
    border-radius: 45px;
    border: none;
    background-color: rgb(145, 15, 15);
    color: rgba(248, 243, 243, 0.489);
    box-shadow: 0px 10px 10px rgb(102, 9, 9) inset,
                0px 5px 10px rgba(67, 4, 4, 0.504),
                0px -10px 10px rgb(59, 3, 3) inset;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: 10px;
}

#settingsMenu {
    display: none;
    position: relative;
    top: 50px;
    margin-left: -100%;
    transform: translate(-150px, 50px);
}